<hgroup>
    <h1>Set up your Daily Drive</h1>
    <p><%=session['spotify_user_email']%></p>
</hgroup>
<hr />
<form method="post" target="/setup">
    <section>
        <h5>Which tracks would you like to listen?</h5>
        <details class="dropdown" style="max-height: 100px">
            <summary>
                Select an option
            </summary>
            <ul>
                <small style="padding: 15px">Spotify Options</small>
                <li>
                    <label>
                        <input type="radio" name="playlist" value="top-tracks" />
                        Top tracks
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="playlist" value="surprise-me" disabled />
                        Surprise me
                    </label>
                </li>
                <small style="padding: 15px">Your Playlists</small>
                <% @playlists.each do |playlist| %>
                    <li>
                        <label>
                            <input type="radio" name="playlist" value="<%= playlist['id'] %>" />
                            <%= playlist['name'] %>
                        </label>
                    </li>
                <% end %>
            </ul>
           
        </details>
    </section>

    <section>
        <hgroup>
            <h5>From which shows would you like the latest episodes to be included?</h5>
            <small>Please note that if the episode has already been listened, it will be skipped.</small>
        </hgroup>
        <textarea
            name="shows"
            placeholder="Add their Spotify's show links split by comma"
            aria-label="List of shows"
        >
        </textarea>
    </section>

     <section>
        <h5>After how many tracks would you like to listen to a show's episode?</h5>
        <input type="number" value="5">
    </section>

    <input
        type="submit"
        value="Save changes"
    />
</form>